Makefile.in
build-*
.settings/org.eclipse.cdt.managedbuilder.core.prefs
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.sub
configure
depcomp
html/
include/config.h.in
install-sh
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
*~
.settings*/
*.so
linux_amd64_py27/
*.pyc
interrogate.in
interrogate_module.cpp
interrogate_wrapper.cpp
