# Resources required by the sample browser and most samples.
[Essential]
Zip=/REPOSITORY/KProjects/usr/share/OGRE/media/packs/SdkTrays.zip
FileSystem=/REPOSITORY/KProjects/usr/share/OGRE/media/thumbnails

# Common sample resources needed by many of the samples.
# Rarely used resources should be separately loaded by the
# samples which require them.
[Popular]
FileSystem=/REPOSITORY/KProjects/usr/share/OGRE/media/fonts
FileSystem=/REPOSITORY/KProjects/usr/share/OGRE/media/materials/programs
FileSystem=/REPOSITORY/KProjects/usr/share/OGRE/media/materials/scripts
FileSystem=/REPOSITORY/KProjects/usr/share/OGRE/media/materials/textures
FileSystem=/REPOSITORY/KProjects/usr/share/OGRE/media/materials/textures/nvidia
FileSystem=/REPOSITORY/KProjects/usr/share/OGRE/media/models
FileSystem=/REPOSITORY/KProjects/usr/share/OGRE/media/particle
FileSystem=/REPOSITORY/KProjects/usr/share/OGRE/media/DeferredShadingMedia
FileSystem=/REPOSITORY/KProjects/usr/share/OGRE/media/PCZAppMedia
FileSystem=/REPOSITORY/KProjects/usr/share/OGRE/media/RTShaderLib
FileSystem=/REPOSITORY/KProjects/usr/share/OGRE/media/RTShaderLib/materials
Zip=/REPOSITORY/KProjects/usr/share/OGRE/media/packs/cubemap.zip
Zip=/REPOSITORY/KProjects/usr/share/OGRE/media/packs/cubemapsJS.zip
Zip=/REPOSITORY/KProjects/usr/share/OGRE/media/packs/dragon.zip
Zip=/REPOSITORY/KProjects/usr/share/OGRE/media/packs/fresneldemo.zip
Zip=/REPOSITORY/KProjects/usr/share/OGRE/media/packs/ogretestmap.zip
Zip=/REPOSITORY/KProjects/usr/share/OGRE/media/packs/ogredance.zip
Zip=/REPOSITORY/KProjects/usr/share/OGRE/media/packs/Sinbad.zip
Zip=/REPOSITORY/KProjects/usr/share/OGRE/media/packs/skybox.zip

[General]
FileSystem=/REPOSITORY/KProjects/usr/share/OGRE/media

[CEGUI]
 FileSystem=/REPOSITORY/KProjects/usr/share/CEGUI/schemes
 FileSystem=/REPOSITORY/KProjects/usr/share/CEGUI/fonts
 FileSystem=/REPOSITORY/KProjects/usr/share/CEGUI/imagesets
 FileSystem=/REPOSITORY/KProjects/usr/share/CEGUI/layouts
 FileSystem=/REPOSITORY/KProjects/usr/share/CEGUI/looknfeel
 FileSystem=/REPOSITORY/KProjects/usr/share/CEGUI/lua_scripts
 FileSystem=/REPOSITORY/KProjects/usr/share/CEGUI/xml_schemas
 
 [Bootstrap]
Zip=/REPOSITORY/KProjects/usr/share/OgreOde/Media/packs/OgreCore.zip
[OgreOde]
FileSystem=/REPOSITORY/KProjects/usr/share/OgreOde/Media

[Ely]
 FileSystem=/REPOSITORY/KProjects/Eclipse/Ely/media