
aclocal*
autom4te*/
build*/
callback_test
compile
config.guess
config.guest
config.log
config.status
config.sub
configure
.cproject
data.cpp
depcomp
.deps/
install-sh
libtool
ltmain.sh
*.m4
Makefile
Makefile.in
missing
*.o
*.png
.project
.pydevproject
.settings/
*.so
linux*/
*.pyc
interrogate*
*.boo
